#general
/.pytest_cache
/samples
/labels

#checkpoings
/scripts/TF_scripts/.ipynb_checkpoints/
/scripts/yolo_scripts/.ipynb_checkpoints/

#TF setup
/scripts/TF_scripts/object_detection/*

#YOLO setup
/scripts/yolo_scripts/yolo_data/
